@mixin flexrow {
    display: flex;
    justify-content: space-between;
}

@mixin flexcolumn {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin responsive-lg {
    @media screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin responsive-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin responsive-mobile {
    @media screen and (min-width: $breakpoint-mobile) {
        @content;     
    }
} 