@import './mixin';

//margin 
$margin_base: 8px;
$margin_l : $margin_base*2;
$margin_xl : $margin_base*3;
$margin_xxl : $margin_base*4;

//font
$font-electrolize :  var(--font-electrolize-sans);
$font-barrio : var(--font-barrio-sans);

//colours

$color-ebony : #45503B;
$color-copper : #A8763E;

//Breakpoints
$breakpoint-lg:  1000px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;