@import '../styles/mixin';
@import '../styles/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $color-ebony;
  margin: 0;
  padding: 0;
  @include flexrow;

  img {
    width: 10%;
    height: auto;
  }

  &__logo {
    flex-basis: 45%;
    text-align: end;
  }

  &__title {
    flex-basis: 55%;
    color: #A8763E;
    font-family: $font-barrio;
    justify-content: flex-start;
    margin: $margin_l 0;
    padding: 8px 0;
  }

}

.search {

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin_l;

  @include responsive-mobile {
    flex-direction: row;
  }

  img {

    width: 50%;
    height: auto;

    @include responsive-tablet {
      width: 50%;
    }

    @include responsive-mobile {
      width: 75%;
    }
  }

  &__text {
    margin: $margin_l;
    font-size: 22px;
    font-family: $font-electrolize;
  }


  &__box {
    
    display: flex;

    &--inuput {
     padding: $margin_l;

  }

  &--button {
    background-color: $color-copper;
    border: none;
  }
  }
  
}