@import '../styles/mixin';
@import '../styles/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $color-ebony;
  margin: 0;
  padding: 0;
  @include flexrow;

  img {
    width: 25%;
    height: auto;
    
     @include responsive-mobile {
      width: 25%;
    }

    @include responsive-tablet {
      width: 15%;
    }
  }

  &__logo {
    flex-basis: 45%;
    text-align: end;
    margin: $margin_xxl $margin_base;
  }

  &__title {
    flex-basis: 55%;
    color: #A8763E;
    font-family: $font-barrio;
    justify-content: flex-start;
    padding: $margin_l 0;
    font-size: 2rem;
    margin: $margin_xl 0;
  

  @include responsive-mobile {
    font-size: 3rem;
    align-content: center;
    margin: $margin_base 0;
  }

  @include responsive-tablet {
    font-size: 4rem;
  }

}

}


.recipe {
 
  margin: $margin_l 0;

  &__button {
    @include flexcolumn;

    &--button {
      @include button;
    }
  }

  &__container {
    text-align: center;
    &--button {
      @include button;
    }
  }
}

.footer {
  background-color: $color-ebony;
  color: $color-copper;
  font-size: 18px;
  font-family: $font-electrolize;
  font-weight: bold;

  &__content {
    @include flexcolumn;
    margin: $margin_l;

    @include responsive-tablet {
      @include flexrow;
    }

    &--text {
      text-align: center;
      @include responsive-tablet {
        text-align: justify;
      }
      p{
        margin:$margin_base  0;
       
      } 
    }

    &--logo {
      margin: $margin_base;
      svg {
        margin: $margin_base 0;
      }
    }
  }

  &__copytext {
    text-align: center;
  }
}